# setuptools intermediate files
*.pyc
*.egg-info
/.eggs/
/dist/
/build/

# data files
*.json
*.info
*.txt

# idea project files
/.idea/
/venv/

# operating system files
*.DS_Store

# sphinx documentation file
/docs/_build/
